
@media (max-width: 1360px) {
  .menu__item:not(:last-child),.nav__item:not(:last-child){
    margin-right: 30px;
  }

  .nav__item:last-child{
    margin-right: 10px;
  }

    }

  @media (max-width: 1060px) {

  .container{
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__bottom{
      display: none;
    }

  .top-header__container {
      justify-content: space-between;
    }

  .burger {
      display: block;
  }

  .header__logo{
    margin-right: 7px;
  }

  .header__search {
      display: flex;
    }

  .header__menu{
      display: none;
    }


  .header__nav {
    display: block;
    position: absolute;
    top: 0;
    padding: 110px 50px 90px 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    left: -1100px;
    transition: left 600ms;
    z-index: 5;
   }

   .header__nav.animate{
    left: 0;
  }

   .nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
}

.nav__item{
  margin-bottom: 35px;
}

   .nav__link{
  font-weight: 600;
  font-size: 24px;
}

.header__enter{
  padding: 20px 97px 20px 116px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.header__enter:focus::before{
  border-radius: 100px;
  background-color: var(--focus-color);
}

.hero{
 margin-bottom: 81px;
}

  .hero__content{
   padding-top: 283px;
   padding-bottom: 115px;
  }

  .hero__heading{
    margin-bottom: 12px;
  }

  .hero__description{
  max-width: 660px;
  margin-bottom: 135px;
  }

}


  @media (max-width: 1024px) {


    /* .header__nav{
      display: block;
      position: absolute;
    }

    .nav__list {
      display: block;
      position: absolute;
      top: 24px;
      left: 6px;
      z-index: 20;
      width: 200px;
      padding: 20px;
      background-color: #f2f2f2;
      opacity: 1;
      visibility: visible;
      transition: 0.3s visibility, 0.3s opacity;
  }

   .is-
    {
    visibility: hidden;
    opacity: 0;
  } */
  }
