@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--white-color);
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

ul,
ol {
  list-style: none;
}

:root{
  --white-color:#ffffff;
}

/* header */
.header {

  background-color: var(--white-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
  padding-top: 3px;
}

.btn-burger{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap:wrap-reverse;
  width: 30px;
  height: 23px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition-property: width;
}

.btn-burger__line{
  width: 30px;
  height: 3px;
  background-color: #333333;
}

.btn-burger:hover .btn-burger__line{
  background-color: #ff9900;
  transition: 150ms;
}

.btn-burger:hover .btn-burger__line:nth-child(2){
 width: 25px;
}

.btn-burger:hover .btn-burger__line:nth-child(3){
  width: 18px;
 }

.btn-burger:active .btn-burger__line{
  background-color: #e1670e;
}

.nav-list {
  display: flex;
  margin-left: auto;
  padding-top: 1px;
}

.nav-link {
  font-size: 18px;
  font-weight: 600;
}

.nav-link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #ff9900;
}

.nav-link:active {
  color: #e1670e;
  border-bottom: 2px solid #e1670e;
}

.nav-item {
  margin-right: 85px;
}

.nav-item:last-child {
  margin-right: 71px;
}

.search__link {
  padding-right: 11px;
  transform: translateY(3px);
}

.search__link:hover rect {
  fill: #ff9900;
}

.search__link:hover circle {
  stroke: #ff9900;
}

.search__link:active rect {
  fill: #e1670e;
}

.search__link:active circle {
  stroke: #e1670e;
}

main {
  margin-top: 1px;
}

/* section-main */
.section-main {
  margin-bottom: 101px;
}

.section-main-container {
  padding: 103px 0 91px 79px;
  background-image: url("../img/header-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-main-heading {
  max-width: 840px;
  margin: 0;
  margin-bottom: 19px;
  font-weight: 800;
  font-size: 70.3742px;
  line-height: 86px;
  color: var(--white-color);
}

.section-main-lead {
  max-width: 840px;
  margin-bottom: 97px;
  font-size: 23.41px;
  font-weight: 700;
  line-height: 29px;
  color: var(--white-color);
}

.btn {
  display: inline-block;
  text-align: center;
  color: var(--white-color);
}

.section-main-btn {
  padding: 27px 37.5px;
  margin-left: 2px;
  font-size: 23.4581px;
  font-weight: 700;
  background: #ff9900;
}

.section-main-btn:hover {
  background: rgba(255, 153, 0, 0.6);
}

.section-main-btn:active {
  background: #e1670e;
}

/* section-about-us */
.section-about {
  margin-bottom: 101px;
}

.section-heading {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.section-heading-about {
  margin-bottom: 21px;
  margin-left: 2px;
}

.section-description {
  line-height: 32px;
}

.section-about__description {
  margin-bottom: 43px;
  max-width: 1235px;
}

.section-tultip {
  display: inline-block;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-image: url("../img/tultip.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(3px);
}

/* section-blockquote */
.section-blockquote {
  display: flex;
}

.section-blockquote__left{
  display: flex;
  align-items: flex-end;
  width: 49.15%;
  padding-top: 446px;
  background-image: url("../img/main-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-blockquote-bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 39px 68px 41px 54px;
  background: rgba(0, 0, 0, 0.5);
}

.section-blockquote-bottom-block__desc {
  width: 500px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white-color);
}

.section-blockquote-bottom-block-btn {
  padding: 16px 35.7px;
  font-weight: 600;
  line-height: 20px;
  background-color: transparent;
  border: 3px solid #ff9900;
}

.section-blockquote-bottom-block-btn:hover {
  background: #ff9900;
}

.section-blockquote-bottom-block-btn:active {
  background: #e1670e;
  border: 3px solid #e1670e;
}

.section-blockquote__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49.15%;
  margin-left: 1.7%;
}

.section-quote-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 295px;
  padding: 0 117px 0 62px;
  border: 1px solid #cacaca;
}

.section-quote-block__photo-1 {
  transform: translateY(-6px);
}

.section-quote-block__photo-2 {
  transform: translateY(-16px);
}

.section-quote-block-right {
  width: 452px;
}

.section-subtitle {
  font-size: 24px;
  line-height: 40px;
}

/* section-how-we-work */
.section-how-we-work {
  margin-bottom: 102px;
}

.section-heading-work {
  margin-bottom: 48px;
  margin-left: -2px;
}

.section-how-we-work-list {
  font-size: 18px;
  margin-bottom: 43px;
  margin-left: 2px;
}

.section-how-we-work-item {
  display: inline-block;
}

.section-how-we-work-item:not(:last-child) {
  margin-right: 85px;
}

.section-how-we-work-link-active {
  color: #ff9900;
}

.section-how-we-work-link:hover {
  color: #ff9900;
}

.section-how-we-work-link:active {
  color: #e1670e;
}

.section-how-we-work-block {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
}

.section-how-we-work-block__left {
  width: 760px;
}

.section-how-we-work-block__right {
  width: 870px;
  margin-top: 14px;
  margin-right: -2px;
  background: url("../img/section-photo.jpg") no-repeat center;
  background-size: cover;
}

.section-description-how-we-work {
  margin-bottom: 60px;
}

.section-more-btn {
  padding: 20px 37.7px;
  margin-right: 26px;
  border: 1px solid #ff9900;
  background: #ff9900;
  font-weight: 600;
}

.section-more-btn:active {
  background: #e1670e;
}

.section-contract-btn {
  padding: 20px 37px;
  border: 1px solid #333333;
  background-color: transparent;
  color: #333333;
}

.section-contract-btn:hover {
  color: var(--white-color);
  background: #666666;
}

.section-contract-btn:active {
  color: var(--white-color);
  background: #000000;
}

/* section-faq */
.section-faq {
  margin-bottom: 97px;
}

.section-faq-heading {
  margin-bottom: 36px;
  margin-left: 2px;
}

.acc-list {
  margin-left: 5px;
}

.acc-item__heading {
  font-size: 24px;
  font-weight: 700;
}

.acc-item__heading-slash {
  color: #cacaca;
}

.acc-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 115px;
  /* padding-top: 30px; */
  /* padding-bottom: 33px; */
  line-height: 32px;
  border-top: 1px solid  #cacaca;
  border-bottom: 1px solid #cacaca;
}
.acc-item:hover{
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  color: #ff9900;
  cursor: pointer;
}

.acc-item:hover .acc-item__heading-slash {
  color: #ff9900;
}

.acc-item__accord {
  display: inline-block;
  width: 50px;
  height: 50px;
  transform: translate(-3px, 2px);
  border-radius: 100%;
  background: #ececec;
  position: relative;
}

.acc-item__accord::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 30px;
  background-color: #666666;
  transform: translateY(-50%) rotate(90deg);
}

.acc-item__accord::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 30px;
  background-color: #666666;
  transform: translateY(-50%);
}

.acc-item:hover .acc-item__accord {
  background-color: #d2d2d2;
}

/* footer */
.footer {
  background-color: #222222;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 48px 15px 75px;
}

.footer-section-left {
  margin-right: 42px;
}

.footer-logo {
  margin-bottom: 8px;
}

.footer-nav {
  width: 320px;
  margin-bottom: 106px;
  margin-left: 1px;
}

.footer-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer-link {
  color: #cacaca;
}

.footer-link:hover {
  color: #ff9900;
}

.footer-link:active {
  color: #e1670e;
}

.footer-social-item {
  display: inline-block;
}

.footer-social-item:not(:last-child) {
  margin-right: 21px;
}

.footer-social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-social-icon_facebook {
  background-image: url("../img/fb.svg");
}

.footer-social-icon_vk {
  background-image: url("../img/vk.svg");
}

.footer-social-icon_instagram {
  background-image: url("../img/instagram.svg");
}

.footer-section-middle {
  margin-top: 10px;
}

.footer-heading {
  margin-bottom: 21px;
  color: #cacaca;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.input {
  max-width: 570px;
  height: 60px;
  padding: 0px 26px;
  margin-bottom: 25px;
  border: none;
  background: #414141;
}

.input:focus,
.textarea-text:focus {
  outline: 2px solid orange;
}

.input::placeholder,
.textarea-text::placeholder {
  color: #cacaca;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
}

.textarea-text {
  margin-bottom: 33px;
  padding-left: 25px;
  padding-top: 22px;
  border: none;
  font-family: "Montserrat";
  background: #414141;
}

.section-writing-btn {
  margin-right: 20px;
  padding: 21px 51px;
  font-family: "Montserrat";
  font-weight: 700;
  background: #ff9900;
  color: var(--white-color);
  cursor: pointer;
}

.checkbox {
	position: absolute; /* скрываем настоящий чекбокс */
	z-index: -1;
	opacity: 0;
}
.checkbox__label {
	position: relative;
	padding: 0 0 0 18px;
  cursor: pointer;
  color: #cacaca;
}
.checkbox__label:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 12px;
	height: 12px;
  background:transparent;
  border: 1px solid #cacaca;
}
.checkbox:checked + .checkbox__label:before {
	content: '';
  background-image: url('../img/checkbox.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-section-right {
  align-self: center;
  transform: translateY(-14px);
}

.footer-description {
  max-width: 363px;
  line-height: 32px;
  color: #cacaca;
}


@media (max-width:1750px){
  .section-blockquote {
    flex-direction: column;
    align-items: center;
  }

  .section-blockquote__left{
    width: 924px;
  }

  .section-blockquote__right{
    width: 924px;
    margin-left: 0;
  }

  .section-quote-block{
    margin-top: 50px;
  }

  .section-description-how-we-work {
    padding-right: 50px;
  }
}

@media (max-width:1366px){

  .footer-section-right{
    display: none;
  }

}


   @media (max-width:1024px){
  .nav-list{
    display: none;
  }

   .btn-burger{
     display: flex;
   }

   .container{
     padding-left: 50px;
     padding-right: 50px;
   }

   .header__container{
     justify-content: space-between;
     padding-top: 24px;
     padding-bottom: 24px;
   }

   .search__link{
     padding-right: 0;
   }

   .section-main-container{
    padding: 160px 0px 115px 45px;
    background-image: url("../img/header-photo-1024.jpg");
    background-size: cover;
    background-position: bottom;
   }

   .section-main {
    margin-bottom: 58px;
  }

  .section-heading-about{
    margin-bottom: 26px;
    margin-left: -4px;
  }

   .section-main-heading{
     font-size: 60px;
     line-height: 73px;
     margin-bottom: 10px;
   }

   .section-main-lead{
    max-width: 700px;
    margin-bottom: 110px;
    font-size: 20px;
    line-height: 24px;
   }

   .section-main-btn{
     margin-left: 0px;
     padding: 26px 40px;
   }

   .section-about{
     margin-bottom: 61px;
   }

   .section-tultip {
     margin-right: 6px;
     margin-left: 0;
   }

   .section-about__description{
     margin-bottom: 58px;
   }

   .section-blockquote__right{
    width: 100%;
  }

  .section-blockquote__left{
    width: 100%;
    padding-top: 467px;
  }

  .section-blockquote-bottom-block{
    padding: 39px 50px 38px 44px;
  }

  .section-quote-block:last-child{
    margin-top: 40px;
  }

  .section-quote-block__photo-1{
     width: 178px;
     height: 137px;
     transform: translateY(-2px);
  }

  .section-quote-block__photo-2{
    width: 178px;
    height: 153px;
    transform: translateY(-7px);
  }

  .section-quote-block{
    padding: 0px 122px 0 111px;
  }

  .section-how-we-work-block{
    margin-left: 0;
  }

  .section-how-we-work{
    margin-bottom: 59px;
  }

  .section-heading-work{
    margin-left: -6px;
  }

  .section-how-we-work-list{
    margin-left: -1px;
  }

  .section-how-we-work-block__left{
    width: 47.9%;
    margin-right: 50px;

  }

  .section-how-we-work-block__right{
    width: 48%;
    background-image: url("../img/how-we-work.jpg");
  }

  .section-description-how-we-work{
    margin-bottom: 27px;
    padding-right: 0px;
  }

  .section-faq-heading{
  margin-left: -3px;
  }

  .acc-list{
    margin-left: 0;
  }

  .acc-item__heading{
    font-size: 20px;
  }

  .acc-item:first-child{
    min-height: 123px;
  }
  
  .acc-item__heading_width{
   max-width: 738px;
  }

  .section-faq{
    margin-bottom: 58px;
  }

  .footer__container{
    padding-top: 48px;
    padding-bottom: 80px;
  }

  .footer-section-left {
    margin-right: 66px;
}

.section-writing-btn{
  margin-right: 11px;
  padding: 20px 37px;
}

}


@media (max-width:768px){

  .header__container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .header__container{
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 69px;
  }

  main{
    margin: 0;
  }

  .logo{
    transform: translate(-2px,4px);
  }

  .main-container{
    padding-left: 0px;
    padding-right: 0px;
  }

  .section-main-btn{
    padding: 27px 41px; 
  }

  .section-main-container{
    padding-top: 191px;
    padding-left: 49px;
    background-image: url("../img/low-angle-photo-of-balconies-768.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .section-blockquote-bottom-block{
    padding: 0 30px 0 30px;
  }

  .section-blockquote-bottom-block__desc{
    max-width: 399px;
  }

  .section-heading-about{
    margin-left: -2px;
  }

  .section-tultip{
    margin-left: 1px;
    margin-right: 4px;
  }

  .section-blockquote__left{
    padding-top: 477px;
  }

  .section-blockquote-bottom-block{
    padding: 24px 30px 25px 29px;
  }

  .section-blockquote-bottom-block__desc{
    line-height: 31px;
  }

  .section-blockquote-bottom-block-btn{
    padding: 17.5px 35.7px;
  }

  .section-quote-block{
    margin-top: 40px;
    height: 235px;
  }

  .section-quote-block__photo-1{
    width: 118px;
   height: 91px;
   transform: translateY(1px);
  }

  .section-quote-block__photo-2{
    width: 118px;
    height: 97px;
    transform: translateY(1px);
  }

  .section-quote-block{
    padding: 0px 38px 0 31px;
  }

  .section-about{
    margin-bottom: 59px;
  }

  .section-how-we-work-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  }

  .section-how-we-work-block{
    flex-direction: column-reverse;
  }

  .section-how-we-work-block__right{
    width: 100%;
    height: 284px;
    margin-bottom: 35px;
    background-image: url(../img/how-we-work-768.jpg);
  }

  .section-how-we-work-block__left{
    width: 100%;
    margin-right: 0px;
  }

  .section-description-how-we-work{
    margin-bottom: 28px;
  }

  .section-faq-heading{
    margin-left: 0;
    margin-right: -5px;
    letter-spacing: -0.8px;
  }

  .acc-item__heading{
    max-width: 514px;
  }

  .acc-item__heading-width-3{
    max-width: 468px;
  }

  .acc-item:first-child{
    padding-top: 11px;
  }

  .footer__container{
    flex-direction: column-reverse;
    padding-left: 48px;
    padding-bottom: 58px;
  }

  .footer-heading{
    margin-bottom: 23px;
  }

  .input, .textarea-text{
    max-width: 534px;
  }

  .textarea-text{
    margin-bottom: 32px;
  }

  .footer-nav{
    display: none;
  }

  .footer-logo{
    margin-top: 53px;
    margin-left: 4px;
  }

  .footer-social-list{
    margin-top: 16px;
    margin-left: 2px;
  }
}

@media (max-width:320px){

  .header__container{
    flex-direction: row-reverse;
    min-height: 45px;
    padding: 7px 15px;
  }

  .main-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .search__link{
    display: none;
  }

  .btn-burger{
    height: 19px;
  }

  .btn-burger__line{
    width: 25px;
  }

  .logo{
    display: flex;
    align-self: center;
  }

  .section-main-container{
    padding: 0px;
    padding-top: 36px;
    padding-bottom: 40px;
    text-align: center;
    background-image: url("../img/low-angle-photo-of-balconies-320.jpg");
  }

  .section-main-heading{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .section-main-lead{
   padding-left: 23px;
   padding-right: 23px;
   margin-bottom: 34px;
   font-size: 12px;
   font-weight: 500;
   line-height: 15px;
  }

  .section-main-btn{
    width: auto;
    padding: 12.6px 28.5px;
    font-size: 12px;
  }

  .section-main {
    margin-bottom: 39px;
  }

  .section-heading-about{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 0px;
  }

  .section-about__description{
    margin-bottom: 5px;
    font-size: 14px;
  }

  .section-blockquote__left{
    height: 100%;
  }

  .section-blockquote-bottom-block{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-top: 200px;
    background:none;
  }

  .section-blockquote-bottom-block__desc{
    width: 100%;
    color: #333333;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  .section-blockquote-bottom-block-btn{
    padding: 7px 41px;
    margin-top: 5px;
    font-size: 12px;
    color: #FF9900;
  }

  .section-blockquote__right{
    margin-top: 240px;
    margin-left: 0;
  }

  .section-quote-block__photo-1{
    width: 64px;
    height: 49px;
  }

  .section-quote-block__photo-2{
    width: 63px;
    height: 55px;
  }

  .section-quote-block{
    flex-direction:column;
    align-items: flex-start;
    padding: 0;
    border: none;
  }

  .section-quote-block:last-child{
    margin-top: 200px;
  }

  .section-subtitle{
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

}